/* Sectiune welcome */
.welcome {
  background-color: var(--bg-primary);
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome h1 {
  text-align: center;
}

/* Sectiune welcome responsive */
@media (max-width: 768px) {
  .welcome h1 {
    font-size: 32px;
  }
}

/* Sectiune Intro */
.intro-trainers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro-trainers .container {
  background-color: var(--bg-secondary);
  margin: var(--spacing-large);
}

.intro-trainers .container img {
  margin: var(--spacing-medium);
  width: 40%;
  height: auto;
}

.intro-trainers h3 {
  margin: var(--spacing-medium) 0;
}

.intro-trainers .trainers-pictures {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/* Sectiune responsive Intro */
@media (max-width: 576px) {
  .intro-trainers .container {
    height: auto;
    width: 90%;
    margin-left: calc(var(--spacing-large));
    margin-right: calc(var(--spacing-large));
  }

  .intro-trainers .trainers-pictures {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .intro-trainers .trainers-pictures img {
    width: 80%;
    height: auto;
    display: block;
  }
}

/* Sectiune Traineri */
.trainers h2 {
  text-align: center;
  margin: var(--spacing-medium);
}

.trainers .trainer-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: var(--spacing-medium);
}

.trainers .trainer-wrapper {
  width: 25%;
  padding-right: var(--spacing-small);
  padding-left: var(--spacing-small);
  margin-bottom: var(--spacing-large);
}

.trainers .trainer {
  width: 100%;
  height: 400px;
  padding: 50px var(--spacing-tiny);
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top: calc(3 * var(--spacing-large));
  position: relative;
  display: flex;
  justify-content: center;
}

.trainers .container.grid {
  padding: var(--spacing-small);
}

.trainers .trainer .presentation-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  filter: grayscale(100%);
  position: absolute;
  top: -70px;
}

.trainers h3 {
  background-color: var(--bg-primary);
  border-radius: 5px;
  width: 100%;
  z-index: 1;
  opacity: 0.9;
  text-align: center;
  font-size: var(--fs-large);
  font-weight: 100;
  padding: var(--spacing-small);
  margin-top: var(--spacing-small);
}

.trainers h3,
.trainers .description {
  margin-bottom: var(--spacing-medium);
}

.trainers .content {
  padding: 0 var(--spacing-small);
}

/* Sectiune responsive Traineri */
@media (max-width: 992px) {
  .trainers .trainer-wrapper {
    width: calc(100% / 3);
  }
}

@media (max-width: 768px) {
  .trainers .trainer-wrapper {
    width: 50%;
  }
}

@media (max-width: 576px) {
  .trainers .trainer-wrapper {
    width: 100%;
  }
  .trainers .trainer {
    height: 300px;
  }
}

@media (max-width: 460px) {
  .trainers .trainer {
    height: 400px;
  }
}

@media (min-width: 985px) and (max-width: 1195px) {
  .trainers .trainer {
    height: 470px;
  }
}

/* Sectiune De ce trainerii nostri */
.why-our-trainers .container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: var(--bg-secondary);
  margin-bottom: var(--spacing-large);
}

.why-our-trainers .container img {
  width: 40%;
  height: auto;
}

.why-our-trainers h3,
.why-our-trainers p {
  margin: var(--spacing-large);
}

/* Sectiune responsive trainerii nostri */
@media (max-width: 576px) {
  .why-our-trainers .container {
    height: auto;
    width: 90%;
    margin-left: calc(var(--spacing-large));
    margin-right: calc(var(--spacing-large));
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .why-our-trainers .container img {
    width: 100% !important;
    height: auto;
    display: block;
  }
}
