.welcome {
  background-color: var(--bg-primary);
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome h1 {
  text-align: center;
}

.welcome h2 {
  text-align: center;
  color: var(--text-light);
}

.welcome h2 span {
  color: rgb(57, 226, 136);
}

@media (max-width: 768px) {
  .welcome h1 {
    font-size: 32px;
  }
}

/* Sectiune Detalii Curs */
.course-details {
  margin-top: var(--spacing-large);
  gap: var(--spacing-medium);
}

.course-img {
  width: 30%;
  margin: calc(2 * var(--spacing-small)) var(--spacing-small);
}

.course-img img {
  width: 100%;
  height: auto;
}

.course-content {
  width: 100%;
}

.course-content .description {
  display: flex;
  align-items: center;
  margin-bottom: var(--spacing-medium);
}

.course-content .description p {
  font-size: var(--fs-large);
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.card .certification {
  margin-bottom: var(--spacing-medium);
}

.certification img {
  margin: var(--spacing-small);
}

.certification .apple-logo {
  width: 80px;
}

.certification .adobe-logo {
  width: 60px;
}

.certification .minister-color-logo {
  width: 160px;
}

.certification .apple-logo,
.certification .minister-color-logo,
.certification .adobe-logo {
  height: auto;
}

.card .info-card h4 {
  font-style: italic;
  color: var(--text-primary);
  padding: var(--spacing-small);
}

.trainer img {
  margin-top: var(--spacing-large);
  height: 150px;
  border-radius: 100%;
}

.trainer h4 {
  text-align: center;
}

.course-content .card {
  margin-top: var(--spacing-medium);
  margin-bottom: var(--spacing-large);
  border-radius: 1px solid var(--bg-primary);
  background-color: var(--bg-secondary);
  padding: 10px;
  color: var(--text-dark);
}

.card .details .material-symbols-outlined {
  vertical-align: middle;
}

.course-list ul {
  list-style-type: circle;
}

.course-list ul li {
  padding: var(--spacing-tiny);
}

.course-list h2 {
  margin-top: calc(2 * var(--spacing-medium));
  margin-bottom: var(--spacing-medium);
}

/* Sectiune Tehnologii */
.technologies h2 {
  text-align: center;
  margin-bottom: calc(3 * var(--spacing-medium));
}

.technologies .technologies-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.technologies .image-wrapper {
  width: 70px;
}

.technologies img {
  width: 100%;
  height: auto;
}

.technologies img:hover {
  transform: rotate(360deg);
  transition-duration: 1s;
}

/* Sectiune inscriere */
.enrollment a {
  display: inline;
  color: var(--text-secondary);
}

.enrollment p {
  font-size: var(--fs-large);
  text-align: center;
  width: 80%;
  margin: 0 auto;
  padding: var(--spacing-large);
}

@media (max-width: 768px) {
  .course-details,
  .card,
  .description {
    flex-direction: column;
  }

  .course-img,
  .course-content {
    width: 100%;
  }

  .course-img img {
    margin: var(--spacing-small);
  }

  .course-list ul {
    margin-left: var(--spacing-medium);
  }

  .description {
    text-align: center;
  }

  .certification {
    padding: var(--spacing-medium);
  }

  .technologies .image-wrapper {
    width: 50px;
  }
}
